[Unit]
Description=Appdata Backup Service

[Service]
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Nice=15
User=ruxn
Group=ruxn
ExecStart=/opt/bin/appdatabackup.sh
Restart=no
