[Unit]
Description=Clears Completed Torrent Regularly

[Timer]
OnStartupSec=10m
OnUnitInactiveSec=10m
Unit=cleartorrent.service

[Install]
WantedBy=multi-user.target
