[Unit]
Description=Torrent Cleaner Timer
After=qbittorrent.service

[Timer]
OnStartupSec=0
OnUnitInactiveSec=10m
Unit=cleartorrents.service

[Install]
WantedBy=multi-user.target
