[Unit]
Description=qBittorrent Daemon Service
Documentation=man:qbittorrent-nox(1)
Wants=network-online.target
After=network-online.target nss-lookup.target mergerfs.service wg-quick.target
Requires=mergerfs.service

[Service]
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Nice=15
# if you have systemd < 240 (Ubuntu 18.10 and earlier, for example), you probably want to use Type=simple instead
Type=exec
# change user as needed
User=ruxn
# notice that no -d flag needed
ExecStart=/usr/bin/qbittorrent-nox
# uncomment this for versions of qBittorrent < 4.2.0 to set the maximum number of open files to unlimited
#LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
