[Unit]
Description=Service Availability Checker & Updater
After=network-online.target

[Service]
Type=simple
User=ruxn
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/python3 -u /opt/bin/statuscheck.py --tier=0

[Install]
WantedBy=multi-user.target
