[Unit]
Description=Service Availability Checker & Updater
After=network-online.target

[Service]
Type=simple
User=ruxn
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/python3 /opt/bin/statuscheck.py

[Install]
WantedBy=multi-user.target
