[Unit]
Description=Service Availability Checker & Updater
After=network-online.target rclone.service mergerfs.service plexmediaserver.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/python3 -u /opt/bin/statuscheck.py --tier=1

[Install]
WantedBy=multi-user.target
